<form  [formGroup] = "form" (ngSubmit)="onSubmit(form,$event)">
  <md-card class="card-container">
      <md-card-header>
        <md-card-title>登陆：</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-input-container align="end" floatPlaceholder="float" class="full-width">
          <input mdInput type="email" placeholder ="email" formControlName="email">
         <!-- <md-error>{{form.controls['email'].errors | json}}</md-error> -->
         <md-hint>必填项</md-hint>
        </md-input-container>
        <md-input-container align="end" floatPlaceholder="float" class="full-width">
          <input mdInput type="text" placeholder ="password" formControlName="password">
         <md-error></md-error>
         <md-hint>必填项</md-hint>
        </md-input-container>
      </md-card-content>
      <button type="submit" md-raised-button color="accent">登陆</button>
      <md-card-actions class="text-right">
        <p>还没有账号？<span [routerLink]="['/register']" >注册</span></p>
        <p>忘记密码？<span>找回</span></p>
      </md-card-actions>
    </md-card>
    <md-card class="card-container">
      <md-card-header>
        <md-card-title>每日佳句：</md-card-title>
        <md-card-subtitle >{{(quote$ | async)?.cn}}</md-card-subtitle>
      </md-card-header>
      <img style="margin-bottom: 0;height: 225px;" md-card-image src="{{(quote$ | async)?.pic}}" alt="">
      <md-card-content>
       <p style="height: 40px;overflow: hidden;">{{(quote$ | async)?.en}}</p>
      </md-card-content>
    </md-card>
</form>
