<md-card>
  <div class="toolbar">
    <button
      md-icon-button
      mwlCalendarPreviousView
      [view]="view$ | async"
      [(viewDate)]="viewDate">
      <md-icon class="md-48">chevron_left</md-icon>
    </button>
    <button
      md-button
      mwlCalendarToday
      [(viewDate)]="viewDate">
      {{viewDate | date: 'yyyy-MM-dd'}}
    </button>
    <button
      md-icon-button
      mwlCalendarNextView
      [view]="view$ | async"
      [(viewDate)]="viewDate">
      <md-icon class="md-48">chevron_right</md-icon>
    </button>
  </div>
  <div *ngIf="(events$ | async) as calEvents">
    <div [ngSwitch]="view$ | async">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [locale]="'zh'"
        [events]="calEvents"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [locale]="'zh'"
        [events]="calEvents"
        (eventClicked)="handleEvent('Clicked', $event.event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [locale]="'zh'"
        [events]="calEvents"
        (eventClicked)="handleEvent('Clicked', $event.event)">
      </mwl-calendar-day-view>
    </div>
   </div>
   </md-card>